body {background-color: #6e5773;

}
hr {
    background-color: #6e5773;
    border-style: dotted none none;
    border-width: 10px;
    border-color: #d45079;
    height: 0px;
    width: 20%;
    }
h1 {
  color: #ea9085;

}

h3 {
  color: #ea9085;

}
